<footer class="c-page-footer">
  <div class="container">
    <div class="c-page-footer__inner">
      <div class="o-footer-grid">
        <div class="o-footer-grid__item">
          <h3 class="c-footer-title">{{ 'Contacteer ons'|t }}</h3>
          <div class="c-footer-contact">
            <div class="c-footer-contact__item">
              <a href="{{ front_page }}">
                <img src="{{ base_path ~ directory }}/img/vin-auction_logo.jpg" width="130" height="130" alt="Vin.Auction" />
              </a>
            </div>
            <div class="c-footer-contact__item">
              <strong>Angu bv</strong><br />
              Prinsdaal 103,<br />9420 Bambrugge (Erpe-Mere)<br />België (Europa)
            </div>
            <div class="c-footer-contact__item">
              <br />
              tel.: +32 (0)473 32 10 08<br />e-mail: <a href="mailto:info@vin.auction">info@vin.auction</a><br />BTW BE 0478.669.363
            </div>
          </div>
        </div>
        <div class="o-footer-grid__item">
          <h3 class="c-footer-title">{{ 'Volg ons op sociale media'|t }}</h3>
          <div class="c-footer-social">
            <div class="c-footer-social__item">
              <a href="https://www.instagram.com/vino_antica" target="_blank" class="c-social-icon c-social-icon--instagram">
                <span class="u-hidden-visually">Twitter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="c-footer-bottom">
        <div class="o-footer-grid">
          <div class="o-footer-grid__item">
            &copy; {{ 'Copyright 2022'|t }} <strong>{{ 'Vin.auction - Angu bv'|t }}</strong>
          </div>
          <div class="o-footer-grid__item">
            {{ footer_menu }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>