{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
  'c-node',
]
%}
{{ attach_library('classy/node') }}

{{ content.field_hero }}

<article{{ attributes.addClass(classes) }}>
  <div class="c-node__inner">
    <div class="o-grid">
      <div class="o-grid__item u-1/1 u-3/5@desktop">
        {{ content.body }}
      </div>
      <div class="o-grid__item u-1/1 u-2/5@desktop">
        {{ content.field_practical_information }}
      </div>
    </div>
  </div>
</article>
